[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "~=5.4"
requests = "*"

[dev-packages]
yapf = "*"
nose2 = "*"
pylint = "*"

[requires]
python_version = "3.9"
